@page "/"

<img src="img/logo.jpg" style="width: 300px; margin: 0 0 20px -10px" />

<h2>We are Talent Consulting</h2>

<h3>We build better, bolder, inclusive public services</h3>

<p>Working with our clients to design easy to use digital services for everyone. With a 25 year history of delivering digital services to public sector organisations across the globe and long-standing relationships across the UK, Talent Consulting are the partner of choice for digital transformation within the UK Public Sector.</p>

<iframe width="350" height="300" src="https://www.youtube.com/embed/8tVKbbOLCfc" title="We're Talent" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>